@model Osiris.Models.AcceptanceModels
@{
    ViewBag.Title = "受付 Step3";
}
<link href="~/Content/Acceptance.css" rel="stylesheet" />
@using (Html.BeginForm(null, null, "", FormMethod.Post, new { id = "EntryForm3" }))
{
    <header class="sticky-top" style="top:40px; background-color:white; padding-top:10px; padding-bottom: 1px;">
        @Html.Partial("_Header")
    </header>
    <main class="mb-5">
        <div class="normal-box5-red">
            @if(Model.EditPermitFlg) {
                <p>登録内容を確認して下さい。</p>
            } else {
                <p>登録権限がない為、確認のみとなります。</p>
            }
        </div>
        <div class="form-row" style="margin-top:20px;">
            <div class="col-md-6">
                <div class="input-group" style="height:38px;">
                    <div class="input-group-prepend">
                        <span class="input-group-text" style="color:white; background-color: #007bff; border-color: #007bff;">種別</span>
                    </div>
                    <input type="text" class="form-control" id="route" readonly="readonly" style="width:150px; background-color:orange; flex:unset;" value="" />
                </div>
                <!-- 代理店情報 ------------------------------------------------------------------------------>
                <table class="table table-bordered table-sm table-hover table-condensed" style="margin-top:20px; max-width:57.3%">
                    <tr>
                        <td colspan="2" class="bg-orange" style="background-color:#FF6600">代理店情報</td>
                    </tr>
                    <tr>
                        <td style="width:100px; vertical-align: middle;">販路</td>
                        <td>@Model.VendorName</td>
                    </tr>
                    <tr>
                        <td style="vertical-align: middle;">代理店</td>
                        <td>@Model.DistributorName</td>
                    </tr>
                    <tr>
                        <td style="vertical-align: middle;">着払い金額</td>
                        <td>@Model.CodCost</td>
                    </tr>
                    <tr>
                        <td style="vertical-align: middle;">取扱店</td>
                        <td>@Model.Shop</td>
                    </tr>
                    <tr>
                        <td style="vertical-align: middle;">請求書番号</td>
                        <td>@Model.InvoiceNo</td>
                    </tr>
                </table>
                <!-- 入荷元情報 ------------------------------------------------------------------------------>
                <div class="form-row" style="margin-top: 30px;">
                    <div class="input-group col-md-7">
                        <table class="table table-bordered table-sm table-hover table-condensed">
                            <tr>
                                <td colspan="2" class="bg-warning">入荷元情報</td>
                            </tr>
                            <tr>
                                <td style="width:100px; vertical-align: middle;">顧客名</td>
                                <td>@Model.ArrCustomerName</td>
                            </tr>
                            <tr>
                                <td style="vertical-align: middle;">郵便番号</td>
                                <td>@Model.ArrPostalCode</td>
                            </tr>
                            <tr>
                                <td style="vertical-align: middle;">住所①</td>
                                <td>@Model.ArrAddress1</td>
                            </tr>
                            <tr>
                                <td style="vertical-align: middle;">住所②</td>
                                <td>@Model.ArrAddress2</td>
                            </tr>
                            <tr>
                                <td style="vertical-align: middle;">法人名</td>
                                <td>@Model.ArrCorporateName</td>
                            </tr>
                            <tr>
                                <td style="vertical-align: middle;">電話番号①</td>
                                <td>@Model.ArrTelNo1</td>
                            </tr>
                            <tr>
                                <td style="vertical-align: middle;">ＦＡＸ番号</td>
                                <td>@Model.ArrFaxNo</td>
                            </tr>
                        </table>
                    </div>
                    <div class="col-md-5">
                        <div class="box24">
                            <p>送り状と一致していること。</p>
                        </div>
                        <img style="max-width:100%;" src="~/Content/img/ArrivalSample01.jpg" alt="入荷元サンプル１" id="ArrivalSample01" />
                    </div>
                </div>
                <!-- 返送先情報入力 ------------------------------------------------------------------------------>
                <table class="table table-bordered table-sm table-hover table-condensed" style="margin-top:20px; max-width:57.3%">
                    <tr>
                        <td colspan="2" class="bg-warning">返送先情報</td>
                    </tr>
                    <tr>
                        <td style="width:75px; vertical-align: middle;">顧客名</td>
                        <td>@Model.RtnCustomerName</td>
                    </tr>
                    <tr>
                        <td style="vertical-align: middle;">郵便番号</td>
                        <td>@Model.RtnPostalCode</td>
                    </tr>
                    <tr>
                        <td style="vertical-align: middle;">住所①</td>
                        <td>@Model.RtnAddress1</td>
                    </tr>
                    <tr>
                        <td style="vertical-align: middle;">住所②</td>
                        <td>@Model.RtnAddress2</td>
                    </tr>
                    <tr>
                        <td style="vertical-align: middle;">法人名</td>
                        <td>@Model.RtnCorporateName</td>
                    </tr>
                    <tr>
                        <td style="vertical-align: middle;">電話番号①</td>
                        <td>@Model.RtnTelNo1</td>
                    </tr>
                    <tr>
                        <td style="vertical-align: middle;">ＦＡＸ番号</td>
                        <td>@Model.RtnFaxNo</td>
                    </tr>
                </table>
                <!-- 製品情報入力 ------------------------------------------------------------------------------>
                <div class="form-row" style="margin-top:20px;">
                    <div class="input-group col-md-7">
                        <table class="table table-bordered table-sm table-hover table-condensed">
                            <tr>
                                <td colspan="2" style="background-color:#CCFFFF;">製品情報</td>
                            </tr>
                            <tr>
                                <td style="vertical-align: middle;">商品名</td>
                                <td>@Model.ProductName</td>
                            </tr>
                            <tr>
                                <td style="vertical-align: middle;">製品型番</td>
                                <td>@Model.ModelName</td>
                            </tr>
                            <tr>
                                <td style="width:90px; vertical-align: middle;">シリアル</td>
                                <td>@Model.SerialNo</td>
                            </tr>
                            <tr>
                                <td style="vertical-align: middle;">購入日</td>
                                <td>@Model.BuyDate</td>
                            </tr>
                            <tr>
                                <td style="vertical-align: middle;">保証期間/日</td>
                                <td><p id="WarrantyPeriod" style="margin:unset;">@Model.WarrantyPeriod</p></td>
                            </tr>
                            <tr>
                                <td style="vertical-align: middle;">保証コード</td>
                                <td><p id="WarrantyName" style="margin:unset;">@Model.WarrantyName</p></td>
                            </tr>
                        </table>
                    </div>
                    <div class="col-md-5" style="margin:unset;">
                        <img style="max-width:100%;" src="~/Content/img/ProductSample01.jpg" alt="代理店サンプル１" id="DistributorSample01" />
                        <img style="max-width:100%; margin-top:5px;" src="~/Content/img/ProductSample02.jpg" alt="代理店サンプル２" id="DistributorSample02" />
                    </div>
                </div>
                <!-- 指摘症状 ------------------------------------------------------------------------------>
                <div style="margin-top:20px;">
                    <p class="bg-danger text-white" style="margin:unset; font-size:16px; text-align:center;">指摘症状</p>
                    @Html.TextAreaFor(model => model.PointOutProblem, 15, 2000, new { @class = "form-control form-control-sm  d-flex align-items-center", style = "max-width:100%;", @readonly = "readonly" })
                </div>
                <!-- 付属品情報入力 ------------------------------------------------------------------------------>
                <div class="form-row" style="margin-top:30px;">
                    <div class="col-md-6">
                        <table class="table table-bordered table-sm table-hover table-condensed" id="ShowReportAccTbl">
                            <thead>
                                <tr style="background-color:InfoBackground;">
                                    <td>付属品名</td>
                                    <td>数量</td>
                                </tr>
                            </thead>
                            <tbody>
                                @for (int i = 0; i < Model.ShowReportAccLists.Count(); i++)
                                {
                                    if (Model.ShowReportAccLists[i].ShowReportAccQTY == 0) {
                                        <tr style="background-color:#FFC7AF;">
                                            <td><p id="ShowReportAccName" style="margin:unset;">@Model.ShowReportAccLists[i].ShowReportAccName</p></td>
                                            <td>@Model.ShowReportAccLists[i].ShowReportAccQTY</td>
                                        </tr>
                                    } else {
                                        <tr>
                                            <td><p id="ShowReportAccName" style="margin:unset;">@Model.ShowReportAccLists[i].ShowReportAccName</p></td>
                                            <td>@Model.ShowReportAccLists[i].ShowReportAccQTY</td>
                                        </tr>
                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                    <div class="col-md-6">
                        <table class="table table-bordered table-sm table-hover table-condensed" id="HideReportAccTbl">
                            <thead>
                                <tr style="background-color:InfoBackground;">
                                    <td>付属品名（代理店？）</td>
                                    <td>数量</td>
                                </tr>
                            </thead>
                            <tbody>
                                @for (int i = 0; i < Model.HideReportAccLists.Count(); i++)
                                {
                                    if (Model.HideReportAccLists[i].HideReportAccQTY == 0) {
                                        <tr style="background-color:#FFC7AF;">
                                            <td><p id="HideReportAccName" style="margin:unset;">@Model.HideReportAccLists[i].HideReportAccName</p></td>
                                            <td>@Model.HideReportAccLists[i].HideReportAccQTY</td>
                                        </tr>
                                    } else {
                                        <tr>
                                            <td><p id="HideReportAccName" style="margin:unset;">@Model.HideReportAccLists[i].HideReportAccName</p></td>
                                            <td>@Model.HideReportAccLists[i].HideReportAccQTY</td>
                                        </tr>
                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="col-md-6 slide-fixed">
                <p style="margin:unset; font-size:16px; text-align:center; background-color:InfoBackground; border: solid 1px; border-color:#DCDCDC;">共通メモ</p>
                <textarea class="form-control form-control-sm  d-flex align-items-center" cols="2000" id="CommonMemo" name="CommonMemo" placeholder="" readonly="readonly" rows="15" style="max-width:100%;">@Model.CommonMemo</textarea>
            </div>
        </div>
        <!-- 操作ボタン ------------------------------------------------------------------------------>
        <div class="form-inline" style="text-align:center; display: block; margin-top: 30px; font-size: 18px;">
            <button type="button" class="btn btn-primary btn-lg" style="width: 70%;" id="CompleteBtn">登録</button>
            <button class="btn btn-danger btn-lg" style="width: auto;" formaction="/Acceptance/BackToStep1FromStep3" id="BackToStep1Btn">STEP１に戻る</button>
        </div>
    </main>
}

<!-- モーダル ---------------------------------------------------------------------->
@Html.Partial("_HeaderModal")
<!-- アラート ------------------>
<div class="modal fade" tabindex="-1" role="dialog" id="DispAlertModal" aria-labelledby="label1" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content" style="font-size:14px;">
            <div class="modal-header">
                <h5 class="modal-title">以下の理由により登録出来ません。</h5>
                <button type="button" class="btn close" data-dismiss="modal" aria-label="閉じる">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <form role="form" id="AlertModalForm" action="/Acceptance/unlockAlert" method="POST">
                <!-- Modal ボディー -->
                <div class="modal-body">
                    <div class="form-row" style="margin-top:15px; margin-bottom:10px;">
                        @Html.TextAreaFor(model => model.AlertMsg, 15, 2000, new { @class = "form-control form-control-sm  d-flex align-items-center", style = "max-width:100%;", @readonly = "readonly" })
                    </div>
                </div>
                <!-- Modal フッター -->
                <div class="modal-footer">
                    <div class="form-row float-right">
                        <div class="col-md-8">
                            <input type="password" id="AlertUnlockKey"  name="AlertUnlockKey" placeholder="解除キー" />
                            <div class="invalid-feedback" style="font-size:12px;">解除キーが正しくありません。</div>
                        </div>
                        <div class="col-md-4">
                            <button type="button" class="btn btn-outline-dark pull-left" id="unlockBtn">ロック解除</button>
                        </div>
                    </div>
                @Html.HiddenFor(model => model.ReceptionNumber)
            </form>
        </div>
    </div>
</div>

<script type="text/javascript">
$(function () {

    // 読込み時の初期設定
    // 経由
    if (isEmpty("@Model.VendorID")) {
        $("#route").val("個人経由");
    } else {
        $("#route").val("代理店経由")
    }

    // チェックボックスを変更不可にする。
    $('input:checkbox').prop('disabled', true);

    // 登録ボタン押下時
    $('#CompleteBtn').click(function () {

        var alertMsg = $("#AlertMsg").text();

        if (!isEmpty(alertMsg)) {
            $('#DispAlertModal').modal();
        } else {
            $("#EntryForm3").attr('action', '/Acceptance/Complete');
            $("#EntryForm3").submit();
        }
    });

    // ロック解除ボタン押下時
    $('#unlockBtn').click(function () {
        // パラメータ設定
        var param = {
            prmAlertUnlockKey: $("#AlertUnlockKey").val(),
            prmReceptionNumber: $("#ReceptionNumber").val()
        }
        // ajax実行
        $.ajax({
            url: '@Url.Action("UnlockAlert", "Acceptance")',
            type: "POST",
            data: param
        }).done(function (data, status, xhr) {
            // ajax成功時
            // ロック解除成否判定
            if (data["result"] == "success") {
                $("#EntryForm3").attr('action', '/Acceptance/Complete');
                $("#EntryForm3").submit();
            } else {
                // 失敗時はエラーメッセージを表示
                $("#AlertUnlockKey").addClass("is-invalid");
                $("#AlertUnlockKey").select();
            }
        }).fail(function (xhr, status, error) {
            // 異常時
            Swal.fire("予期しないエラー", "unlockBtn.click\n" + error, "error");
        });
    });
});

</script>
